* {
	scroll-behavior: smooth;
	color: white !important;
}

.app {
	min-height: 100vh;
	background-image: radial-gradient(
		circle,
		#0d428e,
		#233875,
		#282f5d,
		#272747,
		#222032
	);
	color: white;
	padding-top: 155px;
	padding-bottom: 70px;
}

@media (max-width: 700px) {
	.app {
		padding-top: 70px;
	}
}

.pageTittle {
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-size: 2vw;
	padding: 4px;
	border-radius: 50px;
	color: white;
}

@media (max-width: 1000px) {
	.pageTittle {
		font-size: 6.4vw;
	}
}
